html, button, input, select, textarea {
  color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #000000;
  text-shadow: none;
}
::selection {
  background: #000000;
  text-shadow: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */

body, html {
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 1em;
}
h1, h2, h3 {
  font-weight: 700;
  text-align: center;
  color: rgb(243, 113, 86);
  /*margin-top: 0;*/
}

h6{
  color: rgb(243, 113, 86);
}
.no-js {
  padding-top: 106px;
}

section {
  opacity: 0;
}
.loaded section, .no-js section {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
main {
  overflow-x: hidden;
}

footer .dali-logo {
     margin-top: 60px;
     width: 200px;
}

footer {
  background-color: #222222;
  height: 250px;
  position:relative;
}

/* bit of padding in the main content containers */
.content .container {
  padding-top:30px;
  padding-bottom: 30px;
}

.cover .baselayer {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.content .baselayer {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.covercontainer, .contentcontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.content hr {
    border: none;
    height: 2px;
    /*background-color: rgb(243, 113, 86);*/
    background-color: rgba(80, 74, 75, 0.63);
    width: 50%;
}

.testimonial img {
  width: 200px;
}

/* Cover 0*/

#cover-0 .baselayer {
  background-color: #000000;
  background-image: url('../img/cover0.jpg');
}
#cover-0 .covercontainer {
  z-index: 80;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Cover 1*/

#cover-1 .baselayer {
  background-color: #000000;
  background-image: url('../img/random_butterfly.jpg');
}
#cover-1 .covercontainer {
  z-index: 80;
  position: absolute;
  width: 100%;
  height: 100%;
}


/* Content 0*/

#content-0 .baselayer {
  background-image: url('../img/beigespeckle_background.png');
  padding-top: 20px;
}

/* Content 1*/

#content-1 .baselayer {
  background-image: url('../img/beigespeckle_background.png');
}


.example-glyphs {
  padding-top: 50px;
  font-size: 75px;
}

.glyphicon-heart {
  color: rgb(0, 176, 195);
}
