html, button, input, select, textarea {
  color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #000000;
  text-shadow: none;
}
::selection {
  background: #000000;
  text-shadow: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */

body, html {
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 1em;
}
h1, h2, h3 {
  font-weight: 700;
  text-align: center;
  /*margin-top: 0;*/
}
.no-js {
  padding-top: 106px;
}

section {
  opacity: 0;
}
.loaded section, .no-js section {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
main {
  overflow-x: hidden;
}

footer .dali-logo {
     margin-top: 60px;
     width: 200px;
}

footer {
  background-color: #222222;
  height: 250px;
  position:relative;
}

/* bit of padding in the main content containers */
.content .container {
  padding-top:30px;
  padding-bottom: 30px;
}

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.cover .baselayer {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.content .baselayer {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.covercontainer, .contentcontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* Cover 0*/

#cover-0 .baselayer {
  background-color: #000000;
  background-image: url('../img/cover0.png');
}
#cover-0 .covercontainer {
  z-index: 80;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Cover 1*/

#cover-1 .baselayer {
  background-color: #000000;
  background-image: url('../img/random_butterfly.jpg');
}
#cover-1 .covercontainer {
  z-index: 80;
  position: absolute;
  width: 100%;
  height: 100%;
}


/* Content 0*/

#content-0 .baselayer {
  background-image: url('../img/beigespeckle_background.png');
  padding-top: 20px;
}

/* Content 1*/

#content-1 .baselayer {
  background-image: url('../img/beigespeckle_background.png');
}


.weird-glyphs {
  padding-top: 50px;
  font-size: 75px;
}

.glyphicon-leaf {
  color: rgb(86, 164, 76);
}
.glyphicon-fire {
  color: rgb(184, 88, 19);
}
.glyphicon-flash {
  color: rgb(238, 229, 8);
}






/* ==========================================================================
   Helper classes
   ========================================================================== */


/* Image replacement */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */

.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* Large desktops and laptops */

@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
}

/* Portrait phones and smaller */

@media (max-width: 480px) {
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
