.container {
  width: 80%;
  margin: 0 auto;
}

.textOption-m {
  text-align: center;
  font-size: 2em;
}

.textOption-r {
  text-align: right;
  font-size: 2em;
}

.textOption-l {
  text-align: left;
  font-size: 2em;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.75px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 32.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #329fd2;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  border-radius: 16px;
  background: #04f0af;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.95px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #NaNNaNNaN;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 32.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #329fd2;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  border-radius: 16px;
  background: #04f0af;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 32.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #NaNNaNNaN;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #329fd2;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  border-radius: 16px;
  background: #04f0af;
  cursor: pointer;
  height: 32.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #329fd2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #NaNNaNNaN;
}
